* {
  margin: 0;
}

html {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.topOfpage {
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

.socialMedia {
  display: block;
  margin: 10px;
  text-align: right;
}

.socialMedia img {
  display: inline;
  height: 30px;
  width: 30px;
  margin-right: 3px
}

.navMenubar {
  font-size: 0;
}

.border__bottom {
  border-bottom: 2px rgba(127, 140, 141, 0.5);
}

.navMenubar__link {
  background-color: rgb(180, 41, 46);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  width: 246px;
  margin-right: 10px;
  margin-bottom: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
}

.carousel {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
}

.carousel ol {
  border-bottom: 2px rgba(127, 140, 141, 0.5);
  list-style: none;
  padding: 0;
  height: 330px;
  width: 1024px;
  margin-bottom: 20px;
}

.carousel li {
  box-sizing: border-box;
  border: solid 10px rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  z-index: -1;
  height: 330px;
  width: 100%;
}

.carousel img {
  box-sizing: border-box;
  margin: 0;
  height: auto;
}

.carousel__bottom {
  position: absolute;
  left: 0px;
  top: -100px;
  width: 124%;
  z-index: 2;
}

.carousel__grid {
  left: 0px;
  right: 0px;
  height: 200%;
  position: absolute;
  opacity: 0.35;
  z-index: 30;
}

.carousel__logo {
  left: 0px;
  top: 40px;
  width: 40%;
  position: absolute;
  z-index: 40;
}

.carousel__dots {
  display: block;
  height: 20px;
  margin-top: 20px;
  margin-bottom: -5px;
  text-align: center;
  width: auto;
}

.carousel__dot {
  border-radius: 8px;
  height: 8px;
  width: 8px;
  border: 8px solid rgb(255, 255, 255);
  margin-right: 12px;
}

.info {
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(127, 140, 141, 1);
  height: 350px;
  width: 334px;
  margin-bottom: 35px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  padding-bottom: 19px;
}

.info:nth-child(3) {
  margin-right: 0px;
}

.info__title {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 25px;
  margin-top: 0px;
}

.info__time {
  display: inline-block;
  color: rgb(127, 140, 141);
  font-size: 14px;
  margin-bottom: 25px;
}

.info__preview {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 25px;
}

.info__link {
  display: block;
  color: rgb(179, 0, 0);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.imageSection {
  position: relative;
}

.imageSection__col {
  clear: both;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;

  column-gap: 20px;
  -moz-column-count: 20px;
  -webkit-column-count: 20px;
  margin-bottom: 22px;
  height: 465px


}

.imageSection__text {
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin: 30px;
  position: absolute;
  top: 25%;
  padding: 4px;
  float: left;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
}

.imageSection__small {
  float: left;
  position: relative;
  width: 334px;
  box-sizing: border-box;
  height: 230px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid 5px rgb(255,255,255);
}

.imageSection__small--1 {
  float: right;
  display: block;
  width: auto;
  left: 0;
  height: 100%;
}

.imageSection__small--2 {
  width: auto;
  display: block;
  height: 100%;
  right: 0;
  position: absolute;
}

.imageSection__medium img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  margin-top: -100px;
}

.imageSection__medium {
  float: left;
  position: relative;
  width: 676px;
  height: 230px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  border: solid 5px rgb(255, 255, 255);
}

.imageSection__big {
  position: absolute;
  box-sizing: border-box;
  margin-bottom: 5px;
  top: 0;
  right: 0;
  width: 333px;
  float: right;
  height: 475px;
  overflow: hidden;
  border: solid 5px rgb(255, 255, 255);
  margin-left: 10px;
}

.imageSection__big img {
  top: 50%;
  height: 100%;
  display: block;
  float: right;
  right: 50%;
  margin-right: -95px;
}

.imageSection__sk8ter {
  clear: both;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  height: 295px;
  width: 1024px;
  margin-bottom: 22px;

  column-count: 10;
  -moz-column-count:10;
  -webkit-column-count:10;

  column-gap: 20px;
  -moz-column-count: 20px;
  -webkit-column-count: 20px;
}

.pageEnds {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgba(149, 165, 166, 0.5);
  margin-top: 22px;
  padding: 33px;
  display: inline-block;
  position: relative;
  height: 360px;
  width: 1024px;
}

.pageEnds__title{
  font-size: 21px;
  font-weight: 400;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
}

.pageEnds__text {
  display: inline-block;
  line-height: 150%;
  font-size: 15px;
  margin-bottom: 25px;
}

.pageEnds__wrapper {
  width: 490px;
  height: auto;
}

.socialMedia__footer img {
  height: 30px;
  width: 30px;
  display: inline;
  margin-right: 3px;
}

.formWrapper {
  margin: 16px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  width: 440px;
}

.formWrapper__input {
  border-top: 3px solid rgba(149, 165, 166, 0.5);
  border-right: 1px solid rgba(149, 165, 166, 0.5);
  border-bottom: 1px solid rgba(149, 165, 166, 0.5);
  border-left: 3px solid rgba(149, 165, 166, 0.5);
  width: 100%auto;
  height: 43px;
  display: inline;
}



.submitButton {
  color: rgb(255, 255, 255);
  background-color: rgb(180, 40, 45);
  position: absolute;
  display: inline-block;
  width: 245px;
  height: 30px;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 9px;
  font-size: 16px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 16px;
  font-weight: 500;
}
